* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family:"Philosopher", sans-serif;
  font-weight: 250;
}
#main {
  position: relative;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 2;
}
img {
  height: 100px;
  width: 100px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 20px;
}
#nav {
  position: absolute;
  display: inline-block;
  right: 0;
}
#nav li {
  display: inline-block;
}
#nav > li {
  display: inline-block;
  margin: 10px;
  padding: 25px 5px;
}
#nav li a {
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  color: black;
}
#nav li:hover a {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
#nav li button {
  color: black;
  border: 1px solid black;
  padding: 11px 30px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
#slider {
  position: absolute;
  top: 0px;
  background: url(./img/slider.jpg) top center / cover no-repeat;
  width: 100%;
  height: 680px;
  z-index: 0;
}
#sub-slider {
  position: absolute;
  top: 100px;
  z-index: 1;
  width: 100%;
  height: 600px;
}

#sub-slider > #shadow{
  position: absolute;
  display: flex;
  top: 10px;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(2, 17, 27, 1) 100%);
  height: 600px;
  width: 100%;
  z-index: 1;
  animation-duration: 1.5s;
  animation-name: slide;
}   
@-webkit-keyframes slide {
  from{
    top: 850px;
  }
  to{
    top: 10px;
  }
}
#sub-slider > #shadow > .content {
  padding-bottom: 20px;
  color: #fff;
  width: 650px;
  margin-left: 80px;
  margin-top: 100px;
}

#sub-slider > #shadow > .content > h1 {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 85px;
}
#sub-slider > #shadow > .content > h5 {
  font-family: "Arimo", sans-serif;
  font-weight: 150;
  font-style: italic;
  padding-bottom: 20px;
  font-size: 24px;
}
#sub-slider > #shadow > .content > p{
  font-family: "Arimo", sans-serif;
  font-weight: 50;
  font-size: 16px;
  line-height: 23px;
}
#sub-slider > #shadow > .content > button {
  color: white;
  border: 1px solid white;
  padding: 13px 40px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
}
#main-content{
  position: absolute;
  top: 750px;
  width: 100%;
}
#main-content #section .member-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 50px;
    padding: 40px;
}
#main-content #section #menu {
  background: url(./img/menu.jpg);
}
#main-content #section #reservation {
  background: url(./img/reservation.jpg);
  font-family: "Philosopher", sans-serif;
  font-weight: 200;
}
#main-content  #section{
 display: flex;
 height: 600px;
 justify-content: space-around;
}
#section .member-items h1{
  font-family: "Philosopher", sans-serif;
  color: #fff;
  margin-bottom: 24px;
  font-size: 35px;
  font-weight: 100;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 10px;
}

#section .member-items button{
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 13px 40px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  width: 40%;
  font-family: "Philosopher", sans-serif;
  font-size: 16px;
  transition: all 0.4s;
}
#section .member-items button:hover{
  background-color: #a5a4a4;
}
.animation{
  transition: all 1s;
  transform: translate3d(-50px, 0, 0);
}

.animation.active{
  transform: translate3d(0, 0, 0);
}
#container{
  position: absolute;
  top: 1400px;
  max-width: 1400px;
  width: 95%;
  height: 500px;
}
#feedbacks{
  position: absolute;
}
.slide-button{
  position: absolute;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.slide-button:hover{
  background: #444;
}
.slide-button#pre-slide{
  left: -20px;
}
.slide-button#next-slide{
  right: -20px;
}
#feedback-list{
  display: grid;
  gap: 18px;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
  scrollbar-width: none;
  overflow-x: auto;
}
#container #feedback-list::-webkit-scrollbar{
  display: none;
}

 #feedback-list .feedback{
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  width: 200px;
}
#feedback-list .feedback .name{
  margin-bottom: 10px;
}
.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  background: red;
}
.slider-scrollbar .scrollbar-track  {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb  {
  position: absolute;
  height: 100%px;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}