* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family:"Philosopher", sans-serif;
  font-weight: 250;
}
#main {
  position: relative;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 2;
}
img {
  height: 100px;
  width: 100px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 20px;
}
#nav {
  position: absolute;
  display: inline-block;
  right: 0;
}
#nav li {
  display: inline-block;
}
#nav > li {
  display: inline-block;
  margin: 10px;
  padding: 25px 5px;
}
#nav li a {
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  color: black;
}
#nav li:hover a {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
#nav li button {
  color: black;
  border: 1px solid black;
  padding: 11px 30px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
#slider {
  position: absolute;
  top: 0px;
  background: url(./img/slider.jpg) top center / cover no-repeat;
  width: 100%;
  height: 680px;
  z-index: 0;
}
#sub-slider {
  position: absolute;
  top: 100px;
  z-index: 1;
  width: 100%;
  height: 600px;
}

#sub-slider > #shadow{
  position: absolute;
  display: flex;
  top: 10px;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(2, 17, 27, 1) 100%);
  height: 600px;
  width: 100%;
  z-index: 1;
  animation-duration: 1.5s;
  animation-name: slide;
}   
@-webkit-keyframes slide {
  from{
    top: 850px;
  }
  to{
    top: 10px;
  }
}
#sub-slider > #shadow > .content {
  padding-bottom: 20px;
  color: #fff;
  width: 650px;
  margin-left: 80px;
  margin-top: 100px;
}

#sub-slider > #shadow > .content > h1 {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 85px;
}
#sub-slider > #shadow > .content > h5 {
  font-family: "Arimo", sans-serif;
  font-weight: 150;
  font-style: italic;
  padding-bottom: 20px;
  font-size: 24px;
}
#sub-slider > #shadow > .content > p{
  font-family: "Arimo", sans-serif;
  font-weight: 50;
  font-size: 16px;
  line-height: 23px;
}
#sub-slider > #shadow > .content > button {
  color: white;
  border: 1px solid white;
  padding: 13px 40px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
}
#main-content{
  position: absolute;
  top: 750px;
  width: 100%;
}
#main-content #section .member-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 50px;
    padding: 40px;
}
#main-content #section #menu {
  background: url(./img/menu.jpg);
}
#main-content #section #reservation {
  background: url(./img/reservation.jpg);
  font-family: "Philosopher", sans-serif;
  font-weight: 200;
}
#main-content  #section{
 display: flex;
 height: 600px;
 justify-content: space-around;
}
#section .member-items h1{
  font-family: "Philosopher", sans-serif;
  color: #fff;
  margin-bottom: 24px;
  font-size: 35px;
  font-weight: 100;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 10px;
}

#section .member-items button{
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 13px 40px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  width: 40%;
  font-family: "Philosopher", sans-serif;
  font-size: 16px;
  transition: all 0.4s;
}
#section .member-items button:hover{
  background-color: #a5a4a4;
}
.animation{
  transition: all 1s;
  transform: translate3d(-50px, 0, 0);
}

.animation.active{
  transform: translate3d(0, 0, 0);
}
.big-ctn{
  position: absolute;
  top: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  height: 500px;
  width: 100%;
  z-index: 1;
}
/* #container{
  position: relative;
  max-width: 1100px;
  width: 100%;
  height: 500px;
  z-index: 150;
}
#feedbacks{
  position: absolute;
  width: 100%;
  height: 320px;
}
#feedback-list{
  position: absolute;
  z-index: 100;
}

#feedbacks .slide-button{
  position: absolute;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
}
#feedbacks  .slide-button:hover{
  background-color: #444;
}
#feedbacks .slide-button#pre-slide{
  left: 0px;
}
#feedbacks .slide-button#next-slide{
  right: 0px;
}
#feedbacks, #feedback-list{
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}

#feedbacks #feedback-list::-webkit-scrollbar{
  display: none;
}

#feedbacks #feedback-list .feedback{
  position: relative;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 300px;
}
#feedback-list .feedback .name{
  margin-bottom: 10px;
}
#container .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track  {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
  top: 320px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 3px;
}

.slider-scrollbar .scrollbar-thumb  {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
  cursor: grabbing;
  height: 5px;
  top: -2px;
}


.slider-scrollbar .scrollbar-thumb::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
} */

.comment{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F1F4FD;
}

#container{
  max-width: 1200px;
  width: 95%;
}

#slider-wrapper{
  position: relative;
}
#slider-wrapper .slide-button{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  color: #fff;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%; 
  border: none;
  outline: none;
  transform: translateY(-50%);
}

#slider-wrapper .slide-button:hover{
  background: #444;
}

#slider-wrapper .slide-button#prev-slide{
  left: -20px;
}
#slider-wrapper .slide-button#next-slide{
  right: -20px;
}


#slider-wrapper #image-list {
  /* display: none; */
  display: grid;
  gap: 18px;
  font-size: 10;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

#slider-wrapper #image-list::-webkit-scrollbar{
  display: none;
}

/* #slider-wrapper #image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
} */

#container .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track{
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active{
  cursor: grabbing;
  height: 8px;
  top: -2px;

}

.slider-scrollbar .scrollbar-thumb.scrollbar-thumb::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}


.feedback{
  position: relative;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  width: 325px;
  height: 400px;
}
.feedback .name{
  margin-bottom: 10px;
}












.feedback-fill{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
}
.feedback-fill h4{
  width: 400px;
  margin-left: 80px;
  font-size: 30px;
}
#fill-fb .input{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

}
#fill-fb input[name="name"]{
  padding: 10px;
  width: 150px;
  margin-bottom: 10px;
}
#fill-fb input[name="feedbackContent"]{
  padding: 10px;
  width: 350px;
}
.feedback button{
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    top: 360px;
    cursor: pointer;
}
#fill-fb button{
  padding: 10px;
  border: black solid 1px;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 10px;
  transition: all 0.4s;
}
#fill-fb button:hover{
  background: #b75d5d;
}